body {
  background-color: #e9edee;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

header {
  background-color: #222f3e;
}

header img {
  width: 15%;
  padding: 0.5em 1.5em 0.5em 1.5em;
}

nav ul li {
  display: inline-block;
  color: #ebf8ff;
  margin: 0.7em;
}

nav {
  background-color: #354759;
  padding-left: 1.5em;
}

#topbar {
  background-color: #f56600;
  margin: 1em;
  color: #f2f0da;
  text-align: center;
  padding: 0.3em;
}

#banner {
  background-image: url(/assets/img/bg-image.png);
  background-repeat: repeat-y;
  background-size: contain;
  margin: 1em;
  text-align: center;
  line-height: 2;
  font-weight: bold;
  color: #eaeded;
}

#banner h1 {
  font-size: x-large;
  padding-top: 2.2em;
}

#banner h2 {
  padding-bottom: 2.5em;
  font-size: small;
}

#cards {
    background-color: #FFFFFF;
    margin: 1em;
    padding: 1em;
}

#cards h3,p {
    display: inline;
    padding-right: 0.5em;
    padding-bottom: 1em;
}

#cards p {
    font-size: small;
    font-weight: bold;
    color: #017185;
}

#cardsimages {
    text-align: center;
    padding-top: 1em;
}
#card1, #card2, #card3, #card4 {
    display: inline;
    padding: 1em;
}

#cards img {
    width: 13em;
    height: 15em;
    border-radius: 5%;
}

#immaginigrandi img{
    box-sizing: border-box;
    width: 100%;
    padding: 1em 1em 0 1em;
}

#immaginigrandi {
    text-align: center;
}

#immaginigrandi h3,p {
    display: inline;
    padding: 0.3em;
    margin-bottom: 2em;
}

#immaginigrandi p {
    font-size: small;
    font-weight: bold;
    color: #017185;
}

.immaginitext {
    margin-bottom: 1em;
}